*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Tahoma;
}

section{
    background-image: url(image/Icon-Web-4.jpg);
    background-position: center;
    background-size: 165%;
    margin: 0px;
    padding: 50px;
}

.wrapper{
    overflow: hidden;
    max-width: 700px;
    width: 100%;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 15px 20px rgb(172, 171, 171);
}

.wrapper .title{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #F58634;
    padding-top: 12px;
}

.wrapper form .judul{
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(56, 56, 56);
}

.wrapper form .data-user{
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px;
}

form .data-user .input-box{
    margin-bottom: 20px;
    width: calc(100%/2-20px);
}

form .input-box span .details{
    display: block;
    font-weight: 500;
    margin-bottom: 30px;
}

.data-user .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
}

.select{
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.data-user .input-box .top{
    margin-top: 10px;
}

.data-user .input-box .checkbox{
    margin-right: 10px;
    margin-top: 5px;
    height: 25px; 
    width: 25px;
    border-radius: 1px;
}

.data-user .input-box .check{
    position: absolute;
    margin-top: 4px;
}

form .data-diri .gender-title{
    font-size: 16px;
    font-weight: 500;
}

form .category{
    display: flex;
    width: 60%;
    margin: 14px 0px;
    justify-content: space-between;
}

form .category label{
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot{
    height: 20px;
    width: 20px;
    border-radius: 100%;
    margin-right: 10px;
    margin-left: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    background: #d1712c;
    border-color: #d9d9d9;
}

form input[type="radio"]{
    display: none;
}

form .button{
    padding-left: 30%;
    display:block;
    align-items: center;
    height: 45px;
    margin: 70px 0px 0px 0px;
}

form .button{
    padding: 0;
    text-align: center;
}

form .button input{
    height: 45px;
    width: 130px;
    border-radius: 20px;
    border: none;
    color: #FFFF;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #00AF91;
}

form .button input:hover{
    background: #F58634;
}

.loginuser{
    text-align: center;
    display: block;
    padding-bottom: 40px;
}

.loginuser a{
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #F58634;
}

.loginuser a:hover{
    text-decoration: underline;
    color: #00AF91;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
